.highlight,html .gist .gist-file .gist-syntax .gist-highlight {
    border: 1px solid #05232b !important
}

.highlight table td.code,html .gist .gist-file .gist-syntax .gist-highlight table td.code {
    width: 100%
}

.highlight .line-numbers,html .gist .gist-file .gist-syntax .highlight .line_numbers {
    text-align: right;
    line-height: 1.45em;
    // background: #073642 !important;//url('/images/noise.png?1369013854') top left !important;
    border-right: 1px solid #00232c !important;
    -webkit-box-shadow: #083e4b -1px 0 inset;
    -moz-box-shadow: #083e4b -1px 0 inset;
    box-shadow: #083e4b -1px 0 inset;
    text-shadow: #021014 0 -1px;
    padding: .8em !important;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0
}

.highlight .line-numbers span,html .gist .gist-file .gist-syntax .highlight .line_numbers span {
    color: #586e75 !important
}

figure.code,.gist-file,pre {
    -webkit-box-shadow: rgba(0,0,0,0.06) 0 0 10px;
    -moz-box-shadow: rgba(0,0,0,0.06) 0 0 10px;
    box-shadow: rgba(0,0,0,0.06) 0 0 10px
}

figure.code .highlight pre,.gist-file .highlight pre,pre .highlight pre {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none
}

.gist .highlight *::-moz-selection,figure.code .highlight *::-moz-selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px
}

.gist .highlight *::-webkit-selection,figure.code .highlight *::-webkit-selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px
}

.gist .highlight *::selection,figure.code .highlight *::selection {
    background: #386774;
    color: inherit;
    text-shadow: #002b36 0 1px
}

html .gist .gist-file {
    margin-bottom: 1.8em;
    position: relative;
    border: none;
    padding-top: 26px !important
}

html .gist .gist-file .highlight {
    margin-bottom: 0
}

html .gist .gist-file .gist-syntax {
    border-bottom: 0 !important;
    background: none !important
}

html .gist .gist-file .gist-syntax .gist-highlight {
    background: #002b36 !important
}

html .gist .gist-file .gist-syntax .highlight pre {
    padding: 0
}

html .gist .gist-file .gist-meta {
    padding: .6em 0.8em;
    border: 1px solid #083e4b !important;
    color: #586e75;
    // background: #073642 url('/images/noise.png?1369013854') top left;
    line-height: 1.5em
}

html .gist .gist-file .gist-meta a {
    color: #75878b !important;
    text-decoration: none
}

html .gist .gist-file .gist-meta a:hover {
    text-decoration: underline
}

html .gist .gist-file .gist-meta a:hover {
    color: #ffffff !important
}

html .gist .gist-file .gist-meta a[href*='#file'] {
    position: absolute;
    top: 0;
    left: 0;
    right: -10px;
    color: #474747 !important
}

html .gist .gist-file .gist-meta a[href*='#file']:hover {
    color: #1863a1 !important
}

html .gist .gist-file .gist-meta a[href*=raw] {
    top: .4em
}

pre {
    // background: #002b36 url('/images/noise.png?1369013854') top left;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    border: 1px solid #05232b;
    line-height: 1.45em;
    margin-bottom: 2.1em;
    padding: .8em 1em;
    color: #ffffff;
    overflow: auto
}

h3.filename+pre {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px
}

p code,li code {
    display: inline-block;
    white-space: no-wrap;
    background: #fff;
    line-height: 1.5em;
    color: #555;
    border: 1px solid #ddd;
    -webkit-border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -ms-border-radius: 0.4em;
    -o-border-radius: 0.4em;
    border-radius: 0.4em;
    padding: 0 .3em;
    margin: -1px 0
}

p pre code,li pre code {
    background: none;
    border: none
}

.pre-code,html .gist .gist-file .gist-syntax .highlight pre,.highlight code {
    font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace !important;
    overflow: scroll;
    overflow-y: hidden;
    display: block;
    padding: .8em;
    overflow-x: auto;
    line-height: 1.45em;
    // background: #002b36 url('/images/noise.png?1369013854') top left !important;
    color: #ffffff !important
}

.pre-code span,html .gist .gist-file .gist-syntax .highlight pre span,.highlight code span {
    color: #ffffff !important
}

.pre-code span,html .gist .gist-file .gist-syntax .highlight pre span,.highlight code span {
    font-style: normal !important;
    font-weight: normal !important
}

.pre-code .c,html .gist .gist-file .gist-syntax .highlight pre .c,.highlight code .c {
    color: #586e75 !important;
    font-style: italic !important
}

.pre-code .cm,html .gist .gist-file .gist-syntax .highlight pre .cm,.highlight code .cm {
    color: #586e75 !important;
    font-style: italic !important
}

.pre-code .cp,html .gist .gist-file .gist-syntax .highlight pre .cp,.highlight code .cp {
    color: #586e75 !important;
    font-style: italic !important
}

.pre-code .c1,html .gist .gist-file .gist-syntax .highlight pre .c1,.highlight code .c1 {
    color: #586e75 !important;
    font-style: italic !important
}

.pre-code .cs,html .gist .gist-file .gist-syntax .highlight pre .cs,.highlight code .cs {
    color: #586e75 !important;
    font-weight: bold !important;
    font-style: italic !important
}

.pre-code .err,html .gist .gist-file .gist-syntax .highlight pre .err,.highlight code .err {
    color: #dc322f !important;
    background: none !important
}

.pre-code .k,html .gist .gist-file .gist-syntax .highlight pre .k,.highlight code .k {
    color: #cb4b16 !important
}

.pre-code .o,html .gist .gist-file .gist-syntax .highlight pre .o,.highlight code .o {
    color: #ffffff !important;
    font-weight: bold !important
}

.pre-code .p,html .gist .gist-file .gist-syntax .highlight pre .p,.highlight code .p {
    color: #ffffff !important
}

.pre-code .ow,html .gist .gist-file .gist-syntax .highlight pre .ow,.highlight code .ow {
    color: #2aa198 !important;
    font-weight: bold !important
}

.pre-code .gd,html .gist .gist-file .gist-syntax .highlight pre .gd,.highlight code .gd {
    color: #ffffff !important;
    background-color: #372c34 !important;
    display: inline-block
}

.pre-code .gd .x,html .gist .gist-file .gist-syntax .highlight pre .gd .x,.highlight code .gd .x {
    color: #ffffff !important;
    background-color: #4d2d33 !important;
    display: inline-block
}

.pre-code .ge,html .gist .gist-file .gist-syntax .highlight pre .ge,.highlight code .ge {
    color: #ffffff !important;
    font-style: italic !important
}

.pre-code .gh,html .gist .gist-file .gist-syntax .highlight pre .gh,.highlight code .gh {
    color: #586e75 !important
}

.pre-code .gi,html .gist .gist-file .gist-syntax .highlight pre .gi,.highlight code .gi {
    color: #ffffff !important;
    background-color: #1a412b !important;
    display: inline-block
}

.pre-code .gi .x,html .gist .gist-file .gist-syntax .highlight pre .gi .x,.highlight code .gi .x {
    color: #ffffff !important;
    background-color: #355720 !important;
    display: inline-block
}

.pre-code .gs,html .gist .gist-file .gist-syntax .highlight pre .gs,.highlight code .gs {
    color: #ffffff !important;
    font-weight: bold !important
}

.pre-code .gu,html .gist .gist-file .gist-syntax .highlight pre .gu,.highlight code .gu {
    color: #6c71c4 !important
}

.pre-code .kc,html .gist .gist-file .gist-syntax .highlight pre .kc,.highlight code .kc {
    color: #859900 !important;
    font-weight: bold !important
}

.pre-code .kd,html .gist .gist-file .gist-syntax .highlight pre .kd,.highlight code .kd {
    color: #268bd2 !important
}

.pre-code .kp,html .gist .gist-file .gist-syntax .highlight pre .kp,.highlight code .kp {
    color: #cb4b16 !important;
    font-weight: bold !important
}

.pre-code .kr,html .gist .gist-file .gist-syntax .highlight pre .kr,.highlight code .kr {
    color: #d33682 !important;
    font-weight: bold !important
}

.pre-code .kt,html .gist .gist-file .gist-syntax .highlight pre .kt,.highlight code .kt {
    color: #2aa198 !important
}

.pre-code .n,html .gist .gist-file .gist-syntax .highlight pre .n,.highlight code .n {
    color: #268bd2 !important
}

.pre-code .na,html .gist .gist-file .gist-syntax .highlight pre .na,.highlight code .na {
    color: #268bd2 !important
}

.pre-code .nb,html .gist .gist-file .gist-syntax .highlight pre .nb,.highlight code .nb {
    color: #859900 !important
}

.pre-code .nc,html .gist .gist-file .gist-syntax .highlight pre .nc,.highlight code .nc {
    color: #d33682 !important
}

.pre-code .no,html .gist .gist-file .gist-syntax .highlight pre .no,.highlight code .no {
    color: #b58900 !important
}

.pre-code .nl,html .gist .gist-file .gist-syntax .highlight pre .nl,.highlight code .nl {
    color: #859900 !important
}

.pre-code .ne,html .gist .gist-file .gist-syntax .highlight pre .ne,.highlight code .ne {
    color: #268bd2 !important;
    font-weight: bold !important
}

.pre-code .nf,html .gist .gist-file .gist-syntax .highlight pre .nf,.highlight code .nf {
    color: #268bd2 !important;
    font-weight: bold !important
}

.pre-code .nn,html .gist .gist-file .gist-syntax .highlight pre .nn,.highlight code .nn {
    color: #b58900 !important
}

.pre-code .nt,html .gist .gist-file .gist-syntax .highlight pre .nt,.highlight code .nt {
    color: #268bd2 !important;
    font-weight: bold !important
}

.pre-code .nx,html .gist .gist-file .gist-syntax .highlight pre .nx,.highlight code .nx {
    color: #b58900 !important
}

.pre-code .vg,html .gist .gist-file .gist-syntax .highlight pre .vg,.highlight code .vg {
    color: #268bd2 !important
}

.pre-code .vi,html .gist .gist-file .gist-syntax .highlight pre .vi,.highlight code .vi {
    color: #268bd2 !important
}

.pre-code .nv,html .gist .gist-file .gist-syntax .highlight pre .nv,.highlight code .nv {
    color: #268bd2 !important
}

.pre-code .mf,html .gist .gist-file .gist-syntax .highlight pre .mf,.highlight code .mf {
    color: #2aa198 !important
}

.pre-code .m,html .gist .gist-file .gist-syntax .highlight pre .m,.highlight code .m {
    color: #2aa198 !important
}

.pre-code .mh,html .gist .gist-file .gist-syntax .highlight pre .mh,.highlight code .mh {
    color: #2aa198 !important
}

.pre-code .mi,html .gist .gist-file .gist-syntax .highlight pre .mi,.highlight code .mi {
    color: #2aa198 !important
}

.pre-code .s,html .gist .gist-file .gist-syntax .highlight pre .s,.highlight code .s {
    color: #2aa198 !important
}

.pre-code .sd,html .gist .gist-file .gist-syntax .highlight pre .sd,.highlight code .sd {
    color: #2aa198 !important
}

.pre-code .s2,html .gist .gist-file .gist-syntax .highlight pre .s2,.highlight code .s2 {
    color: #2aa198 !important
}

.pre-code .se,html .gist .gist-file .gist-syntax .highlight pre .se,.highlight code .se {
    color: #dc322f !important
}

.pre-code .si,html .gist .gist-file .gist-syntax .highlight pre .si,.highlight code .si {
    color: #268bd2 !important
}

.pre-code .sr,html .gist .gist-file .gist-syntax .highlight pre .sr,.highlight code .sr {
    color: #2aa198 !important
}

.pre-code .s1,html .gist .gist-file .gist-syntax .highlight pre .s1,.highlight code .s1 {
    color: #2aa198 !important
}

.pre-code div .gd,html .gist .gist-file .gist-syntax .highlight pre div .gd,.highlight code div .gd,.pre-code div .gd .x,html .gist .gist-file .gist-syntax .highlight pre div .gd .x,.highlight code div .gd .x,.pre-code div .gi,html .gist .gist-file .gist-syntax .highlight pre div .gi,.highlight code div .gi,.pre-code div .gi .x,html .gist .gist-file .gist-syntax .highlight pre div .gi .x,.highlight code div .gi .x {
    display: inline-block;
    width: 100%
}

.highlight,.gist-highlight {
    margin-bottom: 1.8em;
    background: #002b36;
    overflow-y: hidden;
    overflow-x: auto
}

.highlight pre,.gist-highlight pre {
    background: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    border: none;
    padding: 0;
    margin-bottom: 0
}

.highlight code {
    background: #000
}

figure.code {
    background: none;
    padding: 0;
    border: 0;
    margin-bottom: 1.5em
}

figure.code pre {
    margin-bottom: 0
}

figure.code figcaption {
    position: relative
}

figure.code .highlight {
    margin-bottom: 0
}

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

.post > .highlight .lineno { color: #ccc; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }
.post > .highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }